@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&family=Just+Another+Hand&family=Poppins:wght@400;500;600;700&display=swap');

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    font-family: 'Josefin Sans', sans-serif;
}

.chart{
    position: relative;
    width: 600px;
    /* height: 50vh; */
}

/* ----------head---------------------- */
.head{
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
}

.make-blur{
text-align: center;
}

.grey{
    color: #758283;
    font-weight: 400;
}

.wallet{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.total-money{
    display: flex;
    flex-direction: row;
    /* height: 100px; */
    justify-content: space-between;
}

.wallet div{
    height: 20px;
}

.income-money{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.green{
    padding: 10px 10px;
    border-radius: 50%;
    background-color: #48ba3f;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.rg-money{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rg-money div{
    height: 20px;
}

.income-money-rg{
    display: flex;
    align-items: center;
}

.green i, .red i{
    color:#fff;
    font-size: 24px;
}

.expense-money{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.red-money{
    display: flex;
    flex-direction: column;
}

.red{
    padding: 10px;
    border-radius: 50%;
    background-color: #fe4f61;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.red i{
    color: #fff;
}

/* -------History---------- */

.history{
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: #3775C1;
    border-radius: 20px 20px 0px 0px;
    text-align: center;
    padding: 10px;
}
#history-id{
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: #3775C1;
}

.history h1{
    color: #fff;
}

.history-trans{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    background-color: #fff;
    margin-bottom: 5px;
    padding: 4px;
    border-radius: 10px;
    transition: 500ms;
}

.history-trans:hover{
    scale: 1.02;
}

.name-transaction{
    display: flex;
    align-items: center;
    gap: 20px;
}

.decide-symbol{
    padding: 7px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
}

.hidden{
    display:none;
}

.minus{
    background-color: #fe4f61;
    padding: 10px;
    border-radius: 50%;
}

.plus{
    background-color: #48ba3f;
    padding: 10px;
    border-radius: 50%;
}

.history-money{
    display: flex;
    flex-direction: column;
    /* width: 100px; */
    align-items: flex-end;
    gap: 10px;
}

.history-money div{
    height: 20px;
}

.last-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
    padding: 20px 0px;
    gap: 10px;
    /* background-color: #000; */
    /* padding: 10px 10px; */
}

.btns{
    display: flex;
    flex-direction: row;
}

.last-section input{
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #758283;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}
select{
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #758283;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}
.add-transaction{
    /* width: 130px; */
    border: 0px;
    border-radius: 4px;
    background-color: #3775C1;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

#real-money{
    width: 69%;
    padding: 8px 10px;
    font-size: 20px;
}

.top-head{
    text-shadow: .1em .1em 0 rgb(146, 169, 180);
    font-size: 40px;
}

.del-btn{
    padding: 4px 10px;
    background-color: #3775C1;
    color: #fff;
    border-radius: 7px;
    border: 0px;
}


@media screen and (max-width:515px) {
    .chart{
        width: 450px;
    }
    .head, .history, #history-id, .last-section{
        width: 100%;
    }

}

@media screen and (max-width:370px) {
    .rg-money{
        font-size: 14px;
    }
    body{
        justify-content: end;
    }
    .chart{
        width: 100%;
    }
    .name-transaction{
        gap: 10px;
    }
}